<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel TestSuite" parallel="tests" thread-count="3">
	<test name="EmulatorSamsungMSiteChrome">
		<parameter name="platformVersion" value="8.1"></parameter>
		<parameter name="deviceName" value="Nexus 5"></parameter>
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="appium.android.parallel.testcases.MSiteChromeTest"></class>
		</classes>
	</test>
	
</suite>